<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>图片大图，购物上惠麦商城！</title>
	<meta charset="utf-8" />
	<meta http-equiv="Cache-Control" content="max-age=180" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="惠麦商城是一家F2C2M模式的电子商务平台，旨在通过用户直连制造商（Customer TO Manufactory），砍掉传统零售中的所有加价环节，使消费者以出厂成本价就能买到好品质的产品。" />
	<meta name="Keywords" content="惠麦商城，网上购物，F2C2M电子商城，超实惠，好品质，一线工厂" />
	<link rel="stylesheet" href="lib/weui.min.css" />
	<link rel="stylesheet" href="css/jquery-weui.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body ontouchstart>

	<div class="weui-gallery" style="display:block">
		<span class="weui-gallery__img" style="background-image:url(./upload/ban2.jpg);"></span>
	</div>
	
	<script type="text/javascript" src="lib/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="lib/fastclick.js"></script>
	<script type="text/javascript" src="js/jquery-weui.js"></script>
	<script type="text/javascript" src="js/swiper.js"></script>
	<script type="text/javascript" src="js/common/base.js"></script>
	<script>
		$(".swiper-banner").swiper({
			loop : true,
			autoplay : 3000
		});
		$(".swiper-news").swiper({
			loop : true,
			direction : 'vertical',
			paginationHide : true,
			autoplay : 30000
		});
		$(".swiper-jingxuan").swiper({
			pagination : '.swiper-pagination',
			loop : true,
			paginationType : 'fraction',
			slidesPerView : 3,
			paginationClickable : true,
			spaceBetween : 2
		});
		$(".swiper-jiushui").swiper({
			pagination : '.swiper-pagination',
			paginationType : 'fraction',
			loop : true,
			slidesPerView : 3,
			slidesPerColumn : 2,
			paginationClickable : true,
			spaceBetween : 2
		});
	</script>
</body>
</html>