<div class="header">
	<div id="shortcut" class="row" xmlns:th="http://www.thymeleaf.org">
		<div class="info">
			<ul class="fr">
				<li class="ah"><a th:href="${res}+'index.html'">欢迎使用内容管理系统</a></li>
				<li class="spacer"></li>
				<li><div class="dt"><a th:href="${res}+'index.html'">主页</a></div></li>
				<li class="spacer"></li>
				<li><div class="dt"><a th:href="${res}+'essay/list'">文章管理</a></div></li>
				<li class="spacer"></li>
				<li><a th:href="${res}+'logout'" class="logout"><i class="icon-logout"></i>退出</a></li>
			</ul>
		</div>
	</div>
</div>