<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" th:with="res=${#servletContext.getAttribute('platform_servername')},images=${#servletContext.getAttribute('images_servername')}">
<head>
    <title>文章内容管理系统 - 首页</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="Shortcut Icon" th:href="${res}+'images/favicon.ico'" />
    <link rel="stylesheet" type="text/css" th:href="${res}+'css/layout.css'"/>
</head>
<body>
<div id="wrapper">
	
    <!-- menu begin -->
	<div th:replace="common/menu"></div>
	<!-- menu end -->
	
    <div id="page-wrapper" class="dashbard-1">
		
	    <!-- header begin -->
		<div th:replace="common/header"></div>
		<!-- header end -->
		
        <div class="wrapper wrapper-content">
            <!--  -->
	        <div class="main-inner"></div>
	        <!--  -->
        </div>
    </div>
    
    <!-- footer begin -->
	<div th:replace="common/footer"></div>
	<!-- footer end -->
	
	<script type="text/javascript" th:src="${res}+'js/jquery.js'"></script>
	<script type="text/javascript" th:src="${res}+'js/common.js'"></script>
</div>
</body>
</html>